body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  background-color:#1d1d1d;
  position:fixed;
  height:100%;
  width:100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#canvas {
  margin-top:2.5rem;
  cursor:zoom-in;
}

.nav {
  width:100%;
  top:0;
  position:absolute;
  height:1.5rem;
  font-size:1.5rem;
  padding:0.5rem;
  left:0;
  background-color:red;
  -webkit-transition: width 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, transform 0.5s;
}

.refresh-colors {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading > span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}


.loading > span:nth-child(2) {
  animation-delay:0.2s;
}

.loading > span:nth-child(3) {
  animation-delay:0.4s;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
